{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select class="" name="">
            <option>Default Sorting</option>
            <option>Sort By Price: Low To High</option>
            <option>Sort By Price: High To Low</option>
        </select>
    </div>
    <div class="row">

        {% for product in products %}

        <div class="col-4">
            <img src="{{ product.image.url }}" alt="">
            <p>{{product.description|truncatechars:10}}</p>
            <p>${{product.sellPrice}}</p>
            <a class="btn" href="{% url 'Home:Product_detail' product.id %}">Buy</a>
            <a class="btn" href="{% url 'Home:Product_detail' product.id %}">Rent</a>
        </div>

        {% endfor %}

    </div>

    {% if products.has_other_pages %}
    <nav
        class="text-center border rounded-0 border-white shadow d-flex d-sm-flex d-md-flex d-lg-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center">
        <ul class="pagination">
            {% if products.has_previous %}
            <li
                class="page-item text-center border rounded-circle d-lg-flex justify-content-lg-center align-items-lg-center">
                <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous"><span
                        aria-hidden="true">«</span></a></li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            <li class="page-item border rounded-circle"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endfor %}
            {% if products.has_next %}
            <li class="page-item border rounded-circle"><a class="page-link" href="?page={{products.next_page_number}}"
                    aria-label="Next"><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock content %}