{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select class="" name="">
            <option>Default Sorting</option>
            <option>Sort By Price: Low To High</option>
            <option>Sort By Price: High To Low</option>
        </select>
    </div>
    <div class="row">

        {% for product in products %}

        <div class="col-4">
            <img src="{{ product.image.url }}" alt="">
            <p>{{product.description|truncatechars:10}}</p>
            <p>${{product.sellPrice}}</p>
            <a class="btn" href="{% url 'Home:Product_detail' product.id %}">Buy</a>
            <a class="btn" href="{% url 'Home:Product_detail' product.id %}">Rent</a>
        </div>

        {% endfor %}

    </div>

    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>

{% endblock content %}