{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="small-container card-page">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="{% static 'images/bike12.jfif' %}" alt="">
          <div class="">
            <p>High Quality Bike</p>
            <small>Price: $60.00</small>
            <br>
            <a href="#">Remove</a>
          </div>
        </div>
      </td>
      <td> <input type="number" value="1"> </td>
      <td>$60.00</td>
    </tr>

  </table>

  <div class="total-price">
    <table>
      <tr>
        <td>Subtotal</td>
        <td>$160.00</td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>$40.00</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>$200.00</td>
      </tr>
    </table>
  </div>


</div>

{% endblock content %}