{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="small-container single-product">
    <div class="row">
        <div class="coll-2">
            <img style="margin-bottom: 30px;" src="{{ product.image.url }}" alt="" width="300%" id="ProductImg">
            <div class="small-img-row">

                {% for i in photos %}
                <div class="small-img-col">
                    <img alt="" width="100%" class="small-img" src="{{i.images.url}}">
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="coll-2">
            <p>Home / Bikes /</p>
            <h1>Very Good bike</h1>
            <h4>{{product.sellPrice}}$</h4>
            <select class="" name="">
                <option value="">Select Size</option>
                <option value="">XXL</option>
                <option value="">XL</option>
                <option value="">L</option>
            </select>
            <input type="number" name="" value="1">
            <a href="#" class="btn">Add To Cart</a>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>

<!-- --------------title---------- -->

<div class="small-container">
    <div class="row row-2">
        <h2>Other Products</h2>
        <!-- <p>View More</p> -->
        <a href="{% url 'Home:product_list' %}">View More</a>
    </div>
</div>

<div class="small-container">
    <div class="row">

        {% for product in first_products %}

        <div class="col-4">
            <img src="{{ product.image.url }}" alt="">
            <p>{{product.description|truncatechars:10}}</p>
            <p>${{product.sellPrice}}</p>
            <a class="btn" href="{% url 'Home:Product_detail' product.id %}">Buy</a>
            <a class="btn" href="{% url 'Home:Product_detail' product.id %}">Rent</a>
        </div>

        {% endfor %}

    </div>


</div>

{% endblock content %}